
<h1 class="mt-4">Dashboard</h1>

<h3>Full name:</h3>
<p class="lead mb-3"><span class="text-small">Welcome <%= name %></span></p>

<h3>About my Self</h3>
<p class="lead mb-3"> <%= bio %></p>

<h3>Email</h3>
<p class="lead mb-3">my email <br> <%= email %></p>


<h3>my birthday</h3>
<p class="lead mb-3">This is my date of Birth <br> <%= dob %></p>


<a href="/users/logout" class="btn btn-secondary">Logout</a>




